<h1>Formulario para cadastrar Cliente</h1>
<fieldset>
    <form action="/add_cliente" action="POST"></form>
        <label> id:</label>
        <input type="text" name="id"><br><br>

        <label> nome:</label>
        <input type="text" name="nome" size="5"><br><br>

        <label> telefone:</label>
        <input type="text" name="telefone" size="5"><br><br>


        <button type="submit">Cadastrar</button>
    </form>
</fieldset>
<p><a href="/">Voltar</a></p>