<h1>Formulario para cadastrar produtos</h1>
<fieldset>
    <form action="/add_produto" method="POST">
        <label> Produto:</label>
        <input type="text" name="nome" placeholder="nome"><br><br>
        <label> Quantidade:</label>
        <input type="text" name="qtd" size="5" placeholder="quantidade"><br><br>
        <button type="submit">Cadastrar</button>
    </form>
</fieldset>
<p><a href="/">Voltar</a></p>